#Backend Skipped Files and Folders
backend/media/
!backend/media/profile_pic.png
backend/backend/__init__.py
backend/backend/__pycache__/
backend/api/__init__.py
backend/api/__pycache__/
backend/api/model_views/__init__.py
backend/api/model_views/__pycache__/
backend/api/model_serializers/__pycache__/
backend/api/migrations/
backend/.env
#FrontEnd Skipped Files and Folders

frontend/node_modules/
frontend/.env
